Fixtures/API/Service References/RegOnlineCheckInRegService/CheckInReg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Event_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckInSoapIn">
    <wsdl:part name="parameters" element="tns:CheckIn" />
  </wsdl:message>
  <wsdl:message name="CheckInSoapOut">
    <wsdl:part name="parameters" element="tns:CheckInResponse" />
  </wsdl:message>
  <wsdl:message name="CheckInHttpGetIn">
    <wsdl:part name="RegisterID" type="s:string" />
    <wsdl:part name="Event_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckInHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckInHttpPostIn">
    <wsdl:part name="RegisterID" type="s:string" />
    <wsdl:part name="Event_ID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckInHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CheckInRegSoap">
    <wsdl:operation name="CheckIn">
      <wsdl:input message="tns:CheckInSoapIn" />
      <wsdl:output message="tns:CheckInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CheckInRegHttpGet">
    <wsdl:operation name="CheckIn">
      <wsdl:input message="tns:CheckInHttpGetIn" />
      <wsdl:output message="tns:CheckInHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CheckInRegHttpPost">
    <wsdl:operation name="CheckIn">
      <wsdl:input message="tns:CheckInHttpPostIn" />
      <wsdl:output message="tns:CheckInHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckInRegSoap" type="tns:CheckInRegSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckIn">
      <soap:operation soapAction="http://tempuri.org/CheckIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckInRegSoap12" type="tns:CheckInRegSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckIn">
      <soap12:operation soapAction="http://tempuri.org/CheckIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckInRegHttpGet" type="tns:CheckInRegHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckIn">
      <http:operation location="/CheckIn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckInRegHttpPost" type="tns:CheckInRegHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckIn">
      <http:operation location="/CheckIn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckInReg">
    <wsdl:port name="CheckInRegSoap" binding="tns:CheckInRegSoap">
      <soap:address location="http://beta.regonline.com/webservices/CheckInReg.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckInRegSoap12" binding="tns:CheckInRegSoap12">
      <soap12:address location="http://beta.regonline.com/webservices/CheckInReg.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckInRegHttpGet" binding="tns:CheckInRegHttpGet">
      <http:address location="http://beta.regonline.com/webservices/CheckInReg.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckInRegHttpPost" binding="tns:CheckInRegHttpPost">
      <http:address location="http://beta.regonline.com/webservices/CheckInReg.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>