Fixtures/API/Service References/EventService/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.regonline.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://www.regonline.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.regonline.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.regonline.com/webservices/">
      <s:import namespace="http://www.regonline.com/webservices/" />
      <s:element name="CreateEventFromTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sourceEventID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationCustomerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="eventBasics" type="tns:EventBasics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EventBasics">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientEventID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EventTitle" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactEmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RedirectConfirmationURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditCardDescriptor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEventFromTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateEventFromTemplateResult" type="tns:RegOnlineResponseOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegOnlineResponseOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s1:ResponseStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eventBasics" type="tns:EventBasics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateEventResult" type="tns:RegOnlineResponseOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegOnlineResponseOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s1:ResponseStatus" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.regonline.com/webservices/">
      <s:complexType name="ResponseStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticationHeader" type="s1:AuthenticationHeader" />
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateEventFromTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:CreateEventFromTemplate" />
  </wsdl:message>
  <wsdl:message name="CreateEventFromTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateEventFromTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="CreateEventFromTemplateAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="s1:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateEventSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEvent" />
  </wsdl:message>
  <wsdl:message name="UpdateEventSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEventResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEventAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="s1:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="EventServiceSoap">
    <wsdl:operation name="CreateEventFromTemplate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a new event in the tournament directors RegOnline account by copying the Tennis Australia template event.</wsdl:documentation>
      <wsdl:input message="tns:CreateEventFromTemplateSoapIn" />
      <wsdl:output message="tns:CreateEventFromTemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <wsdl:input message="tns:UpdateEventSoapIn" />
      <wsdl:output message="tns:UpdateEventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventServiceSoap" type="tns:EventServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEventFromTemplate">
      <soap:operation soapAction="https://www.regonline.com/webservices/CreateEventFromTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateEventFromTemplateAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap:operation soapAction="https://www.regonline.com/webservices/UpdateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateEventAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventServiceSoap12" type="tns:EventServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEventFromTemplate">
      <soap12:operation soapAction="https://www.regonline.com/webservices/CreateEventFromTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateEventFromTemplateAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap12:operation soapAction="https://www.regonline.com/webservices/UpdateEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateEventAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="EventServiceSoap" binding="tns:EventServiceSoap">
      <soap:address location="http://beta.regonline.com/webservices/Events/EventService.asmx" />
    </wsdl:port>
    <wsdl:port name="EventServiceSoap12" binding="tns:EventServiceSoap12">
      <soap12:address location="http://beta.regonline.com/webservices/Events/EventService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>