Fixtures/API/Service References/LoginService/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.regonline.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://www.regonline.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.regonline.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.regonline.com/webservices/">
      <s:import namespace="http://www.regonline.com/webservices/" />
      <s:element name="isValidUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isValidUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isValidUserResult" type="tns:RegOnlineResponseOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegOnlineResponseOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s1:ResponseStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerIdIfAuthorized">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eventId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerIdIfAuthorizedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerIdIfAuthorizedResult" type="tns:RegOnlineResponseOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.regonline.com/webservices/">
      <s:complexType name="ResponseStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticationHeader" type="s1:AuthenticationHeader" />
      <s:complexType name="AuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="isValidUserSoapIn">
    <wsdl:part name="parameters" element="tns:isValidUser" />
  </wsdl:message>
  <wsdl:message name="isValidUserSoapOut">
    <wsdl:part name="parameters" element="tns:isValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerIdIfAuthorizedSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerIdIfAuthorized" />
  </wsdl:message>
  <wsdl:message name="GetCustomerIdIfAuthorizedSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerIdIfAuthorizedResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerIdIfAuthorizedAuthenticationHeader">
    <wsdl:part name="AuthenticationHeader" element="s1:AuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="isValidUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates passed credentials and returns 0 if bad credentials, negative int for detailed errors, or account # of user if valid.</wsdl:documentation>
      <wsdl:input message="tns:isValidUserSoapIn" />
      <wsdl:output message="tns:isValidUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIdIfAuthorized">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates passed credentials and returns 0 if bad credentials, negative int for detailed errors, or account # of user if valid and user has access to the given event.</wsdl:documentation>
      <wsdl:input message="tns:GetCustomerIdIfAuthorizedSoapIn" />
      <wsdl:output message="tns:GetCustomerIdIfAuthorizedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isValidUser">
      <soap:operation soapAction="https://www.regonline.com/webservices/isValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIdIfAuthorized">
      <soap:operation soapAction="https://www.regonline.com/webservices/GetCustomerIdIfAuthorized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCustomerIdIfAuthorizedAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isValidUser">
      <soap12:operation soapAction="https://www.regonline.com/webservices/isValidUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIdIfAuthorized">
      <soap12:operation soapAction="https://www.regonline.com/webservices/GetCustomerIdIfAuthorized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCustomerIdIfAuthorizedAuthenticationHeader" part="AuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="http://beta.regonline.com/webservices/users/login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="http://beta.regonline.com/webservices/users/login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>