Fixtures/API/Service References/RegOnlineGetEventFieldsService/geteventfields.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetrieveEventFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="eventID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveEventFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveEventFieldsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveEventFields2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="eventID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="excludeAmounts" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveEventFields2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveEventFields2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveEventFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveEventFields" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveEventFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFields2SoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveEventFields2" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFields2SoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveEventFields2Response" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFieldsHttpGetIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="eventID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFieldsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFields2HttpGetIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="eventID" type="s:string" />
    <wsdl:part name="excludeAmounts" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFields2HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFieldsHttpPostIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="eventID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFieldsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFields2HttpPostIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="eventID" type="s:string" />
    <wsdl:part name="excludeAmounts" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveEventFields2HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="getEventFieldsSoap">
    <wsdl:operation name="RetrieveEventFields">
      <wsdl:input message="tns:RetrieveEventFieldsSoapIn" />
      <wsdl:output message="tns:RetrieveEventFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveEventFields2">
      <wsdl:input message="tns:RetrieveEventFields2SoapIn" />
      <wsdl:output message="tns:RetrieveEventFields2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="getEventFieldsHttpGet">
    <wsdl:operation name="RetrieveEventFields">
      <wsdl:input message="tns:RetrieveEventFieldsHttpGetIn" />
      <wsdl:output message="tns:RetrieveEventFieldsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveEventFields2">
      <wsdl:input message="tns:RetrieveEventFields2HttpGetIn" />
      <wsdl:output message="tns:RetrieveEventFields2HttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="getEventFieldsHttpPost">
    <wsdl:operation name="RetrieveEventFields">
      <wsdl:input message="tns:RetrieveEventFieldsHttpPostIn" />
      <wsdl:output message="tns:RetrieveEventFieldsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveEventFields2">
      <wsdl:input message="tns:RetrieveEventFields2HttpPostIn" />
      <wsdl:output message="tns:RetrieveEventFields2HttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getEventFieldsSoap" type="tns:getEventFieldsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveEventFields">
      <soap:operation soapAction="http://tempuri.org/RetrieveEventFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveEventFields2">
      <soap:operation soapAction="http://tempuri.org/RetrieveEventFields2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getEventFieldsSoap12" type="tns:getEventFieldsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveEventFields">
      <soap12:operation soapAction="http://tempuri.org/RetrieveEventFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveEventFields2">
      <soap12:operation soapAction="http://tempuri.org/RetrieveEventFields2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getEventFieldsHttpGet" type="tns:getEventFieldsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RetrieveEventFields">
      <http:operation location="/RetrieveEventFields" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveEventFields2">
      <http:operation location="/RetrieveEventFields2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getEventFieldsHttpPost" type="tns:getEventFieldsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RetrieveEventFields">
      <http:operation location="/RetrieveEventFields" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveEventFields2">
      <http:operation location="/RetrieveEventFields2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getEventFields">
    <wsdl:port name="getEventFieldsSoap" binding="tns:getEventFieldsSoap">
      <soap:address location="http://beta.regonline.com/webservices/geteventfields.asmx" />
    </wsdl:port>
    <wsdl:port name="getEventFieldsSoap12" binding="tns:getEventFieldsSoap12">
      <soap12:address location="http://beta.regonline.com/webservices/geteventfields.asmx" />
    </wsdl:port>
    <wsdl:port name="getEventFieldsHttpGet" binding="tns:getEventFieldsHttpGet">
      <http:address location="http://beta.regonline.com/webservices/geteventfields.asmx" />
    </wsdl:port>
    <wsdl:port name="getEventFieldsHttpPost" binding="tns:getEventFieldsHttpPost">
      <http:address location="http://beta.regonline.com/webservices/geteventfields.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>