Configuration/RegressionTestConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegOnline.RegressionTestConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Environments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Preferred">
                <xs:complexType>
                  <xs:attribute name="Environment" type="xs:string" use="required" />
                  <xs:attribute name="PrivateLabel" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Environment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Account">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DomainName" type="xs:string" />
                          <xs:element name="Id" type="xs:int" />
                          <xs:element name="Login" type="xs:string" />
                          <xs:element name="Password" type="xs:string" />
                          <xs:element name="Folder" type="xs:string" />
                          <xs:element name="XAuthVersion" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="ClientDbConnection" type="xs:string" use="required" />
                  <xs:attribute name="ROMasterConnection" type="xs:string" use="required" />
                  <xs:attribute name="ROWarehouseConnection" type="xs:string" use="required" />
                  <xs:attribute name="DataPath" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WebServices">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="WebService">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Url" type="xs:string" />
                    <xs:element name="EndpointConfigName" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Browsers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChromeDriverPath" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Browser">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BinaryPath">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Enable" type="xs:boolean" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ProfilePath">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Enable" type="xs:boolean" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Current" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="TimeZoneDifference" type="xs:int" />
        <xs:element name="NUnitAddin">
          <xs:complexType>
            <xs:attribute name="ReportBack" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>