Fixtures/API/Service References/RegOnlineRegUpdateService/RegistrationUpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.regonline.com/webservices/2007/08/RegistrationUpdateService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:roTypes="http://www.regonline.com/webservices/2007/08/RegistrationUpdateServiceTypes" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.regonline.com/webservices/2007/08/RegistrationUpdateService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.regonline.com/webservices/2007/08/RegistrationUpdateService">
      <xsd:import schemaLocation="RegistrationUpdateServiceTypes.xsd" namespace="http://www.regonline.com/webservices/2007/08/RegistrationUpdateServiceTypes" />
      <xsd:element name="UpdateRegistrationsRequest" type="roTypes:updateRegistrationsRequest" />
      <xsd:element name="UpdateRegistrationsResponse" type="roTypes:updateRegistrationsResponse" />
      <xsd:element name="updateRegistrationsRequestHeader" type="tns:updateRegistrationsRequestHeader" />
      <xsd:complexType name="updateRegistrationsRequestHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="login" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="password" type="xsd:string" />
        </xsd:sequence>
        <xsd:anyAttribute />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateRegistrationsSoapIn">
    <wsdl:part name="updateRegistrationsRequest" element="tns:UpdateRegistrationsRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateRegistrationsSoapOut">
    <wsdl:part name="UpdateRegistrationsResult" element="tns:UpdateRegistrationsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRegistrationsupdateRegistrationsRequestHeader">
    <wsdl:part name="updateRegistrationsRequestHeader" element="tns:updateRegistrationsRequestHeader" />
  </wsdl:message>
  <wsdl:portType name="RegistrationUpdateServiceSoap">
    <wsdl:operation name="UpdateRegistrations">
      <wsdl:input message="tns:UpdateRegistrationsSoapIn" />
      <wsdl:output message="tns:UpdateRegistrationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationUpdateServiceSoap" type="tns:RegistrationUpdateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateRegistrations">
      <soap:operation soapAction="http://www.regonline.com/webservices/2007/08/RegistrationUpdateService/UpdateRegistrations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateRegistrationsupdateRegistrationsRequestHeader" part="updateRegistrationsRequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationUpdateServiceSoap12" type="tns:RegistrationUpdateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateRegistrations">
      <soap12:operation soapAction="http://www.regonline.com/webservices/2007/08/RegistrationUpdateService/UpdateRegistrations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateRegistrationsupdateRegistrationsRequestHeader" part="updateRegistrationsRequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationUpdateService">
    <wsdl:port name="RegistrationUpdateServiceSoap" binding="tns:RegistrationUpdateServiceSoap">
      <soap:address location="http://www.regonline.com/webservices/RegistrationUpdateService.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationUpdateServiceSoap12" binding="tns:RegistrationUpdateServiceSoap12">
      <soap12:address location="http://www.regonline.com/webservices/RegistrationUpdateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>