Fixtures/API/Service References/RegOnlineRegUpdateService/RegistrationUpdateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.regonline.com/webservices/2007/08/RegistrationUpdateServiceTypes" xmlns:ro="http://www.regonline.com/webservices/2007/08/RegistrationUpdateServiceTypes" elementFormDefault="qualified" targetNamespace="http://www.regonline.com/webservices/2007/08/RegistrationUpdateServiceTypes" id="RegistrationUpdateService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="updateRegistrationsRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="eventID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="registrations" type="ro:registrations" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateRegistrationsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="updateRegistrationsResult" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrations">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="registration" type="ro:registrationData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrationData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="registrationId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fees" type="ro:fees" />
      <xs:element minOccurs="0" maxOccurs="1" name="agendaItems" type="ro:agendaItems" />
      <xs:element minOccurs="0" maxOccurs="1" name="customFields" type="ro:customFields" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fees">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="fee" type="ro:nameValueQuantitySet" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agendaItems">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="agendaItem" type="ro:nameValueQuantitySet" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customFields">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="customField" type="ro:nameValueQuantitySet" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameValueQuantitySet">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fieldName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>